.App {
  grid-template-columns: 1fr 500px 1fr;
  text-align: center;
  color: #eeeeee;
  background-color: #353639;
  min-width: 650px;
  padding: 0px 10px 100px 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.active-effects-panel {
  display: grid;
  justify-content: center;
  width: 640px;
  grid-template-columns: 125px 125px 125px 125px 125px;
  grid-template-rows: auto;
  margin: 0 calc((100vw - 640px - 40px) / 2) 0 calc((100vw - 640px - 40px) / 2);
}
.active-effects-panel .active-effect {
  width: 150px;
  padding: 5px 0 0 0;
}
.badge-image {
  max-height: 3em;
  position: relative;
  top: -57px;
  left: -78px;
}
.buy-item-panel {
  display: grid;
  justify-content: center;
  width: 640px;
  grid-template-columns: 200px 200px 200px;
  padding: 5px 10px 5px 10px;
  margin: 0 calc((100vw - 640px - 40px) / 2) 0 calc((100vw - 640px - 40px) / 2);
  align-items: top;
}
.buy-item-panel .trade-options {
  padding: 0px 0 0 0;
  justify-content: center;
}
.buy-item-panel .trade-sub-options {
  padding: 5px 0 0 0;
  align-items: center;
  justify-content: center;
}
.buy-item-panel .trade-sub-options .tooltip {
  padding: 0px 0 0 2px;
}
.buy-item-panel .xp-reward {
  width: 21px;
  height: 21px;
}
.buy-item-panel-trade-label {
  width: 25px;
}
.command-text {
  background-color: #252628;
  border-radius: 5px;
  border-width: 2px;
  border-color: #616161;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
}
.divider {
  color: #434343;
  max-width: 650px;
}
hr.divider-secondary {
  border: 2px dotted #989898;
  max-width: 300px;
}
.effect-image {
  max-height: 10em;
  position: relative;
  padding: 0;
}
.effects-selector {
  padding: 0 0 5px 0;
}
.generate-command-panel {
  padding: 0px 10px 5px 10px;
}
.generate-command-button {
  margin: 0 35px 0 0;
}
.inventory-slot-container {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 5px 5px 5px;
}
.inventory-slot-image {
  position: relative;
  top: 10px;
  left: 13.5%;
  padding: 0px 0px 10px 0;
}
.options-panel {
  display: grid;
  width: 650px;
  grid-template-columns: 150px 150px 150px 150px;
  margin: 0 calc((100vw - 640px - 40px) / 2) 0 calc((100vw - 640px - 40px) / 2);
  justify-content: center;
  padding: 0px 10px 5px 10px;
}
.options-panel .trade-sub-options {
  width: 21px;
  height: 21px;
}
.options {
  max-width: 145px;
}
.panel-title {
  margin: 10px;
}
.panel-sub-title {
  margin: 0;
  padding: 0;
}
.position-panel {
  display: grid;
  width: 650px;
  grid-template-columns: 100px 100px 100px 100px 100px;
  margin: 0 calc((100vw - 640px - 40px) / 2) 0 calc((100vw - 640px - 20px) / 2);
  padding: 0 0 0 0;
  justify-content: center;
  align-items: center;
}
.position-panel .position-panel-item {
  padding: 0 0 5px 0;
}
.select-menu {
  max-height: 50px;
}
.selector-number {
  width: 60px;
}
.selector-text {
  width: 175px;
}
.tooltip {
  position: relative;
  cursor: pointer;
  padding: 0 0 0 2px;
}
.trade-item-image {
  position: relative;
  max-height: 75px;
  padding: 10px;
  top: -5px;
  left: -15%;
}
.villager-image-container {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 5px 5px 5px;
}
.villager-image {
  max-height: 20em;
  position: relative;
  top: 0;
  left: 0;
}
.warning-label {
  margin: 0px 0px 0px 0px;
}
.workstation-image {
  max-height: 11em;
  max-width: 150px;
}
/*# sourceMappingURL=App.css.map */